<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fujitsu</title>
</head>
<body>
    <div class=" container " style="text-align: center;"> 
       
        {%  include 'navbar.html' %}


<h1><strong>Microsoft</strong></h1>
<P> this application provide by :- <mark>Microsoft</mark>
<pr>new  employee haering 
    <hr>
date 12/6/2025</pr>
skil Dimands 
python. java. c++
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, dolorum!
     Atque mollitia adipisci
     omnis voluptatibus nostrum debitis consectetur tempore. Laudantium. </p>


</P>
<button>Apply Now</button>

    </div>
</body>
</html>